{% extends 'base.html.j2' %}

{% block title %}Account{% endblock %}

{% block content %}
<h1>account dont forget to pass in user in route</h1>
<p>give option to reset password or delete account</p>
{% endblock %}