{% extends 'base.html.j2' %}

{% block title %}Login{% endblock %}

{% block content %}

<section class="container">
    <form action="{{ url_for('auth.login') }}" method="POST">
        {# <input type="hidden" name="next" value="{{ 'next' if request.args.get() else '' }}"> #}

        <div class="mb-3">
            <label for="identifier" class="form-label">Email or Username</label>
            <input type="text/email" name="identifier" id="identifier" class="form-control">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-warning">Sign In</button>
    </form>
</section>

{% endblock %}