{% extends 'base.html.j2' %}


{% block content %}

<div class="d-flex" style="justify-content: space-between; width: 80%; margin-inline: auto;">
    {% for poke in pokemon %}
    <div class="card" style="width: 18rem;">
        <img src="{{poke.sprite}}" class="card-img-top" alt="{{poke.name}}">
        <div class="card-body">
            <h5 class="card-title">{{poke.name.upper()}}</h5>
            <p class="card-text">{{poke.description}}</p>
            <div class="d-flex" style="justify-content: space-between;">
                <a href="#" class="btn btn-warning">PokéPick</a>
                <a href="#" class="btn btn-info">More Info</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}